.carousel{
    height:500px;
    width:800px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    background-color: aqua;
}

.image{
    padding:0 3rem 0 3rem;;
}