@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background:url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExIWFRUXFxcVFRgXFxUXFRcaFRUXFxgYFxcYHSggGBolHRUXITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGi0lHSUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAACAwQBAAUHBv/EADQQAAIBAwMCBAQGAgIDAQAAAAABAgMRITFBUQQSImFxgRORwfAFMkKhsdFS4SPxYnKSFP/EABoBAAMBAQEBAAAAAAAAAAAAAAABAgMEBgX/xAAeEQEBAAMBAAMBAQAAAAAAAAAAAQIRIRIxQVEDYf/aAAwDAQACEQMRAD8A+eW5OYUo5GRpno9PgXINGB6PT0v1fIT01C7selGnxoU5v657KhTZuuCucdo8EleWyxbVijHRl482Bp25RP2hdoxqLoU77Avp8vAXRz7ddPvQthBWuvUi3SpNoqnRpx89v6IPhH6KVK61Iep6a0vUMcjuNnw8yNM50tz0JUrAKkVtHUkUMlDAx0zYRtkeyQuOTbFk6F8oCVMNqtJ7AFTyWUadw50c4DZS1B8MZ0UP+SG3iWe3v3/x/V6D3SwdSXbJPKs08Ozw9nsxX4VMrtJUhl+r2tvxscqZX1dFxnJNNZeG02s7tYb8zI0x7Fyu0jpmwjZlcooB0mwL0S4DXC0f5H0ae72AnnYWyRyR2Nx8IAypWGeyVAH4ZTCiMlRfOgbP0i7FwU13/wAdPV/nw42SztL9X0MdId1ULRgmmvDfMlJeJt3SX5fTUV+lTLlebOmiacT0JRE1KQ14ZomjkiiUBLgLTaZbMpwHRgZTQ9IbHLI/oIq7fkel8O91a3p9SP8ADYXbSV3j6ntUum30/kjK6RJtFOhaLaxi30II0L6HtdZaMHb+9zz1WfGBY2llJKndB8MypQaK41HwdGtntaK3U6iSK0PU/D6bs1fT6ila+n1PT/D+nTTeix/sjPLi/wCePQ9mh3VU21fz+hW6NmuAeoWPdGe+t/PHlKlc2NHyLLXGwpX9SvSJg8qdACVE9WrRJatOw5km4ItBsqSf3k1QGxgPaZCY0bbGulc9GhT5GuimT7aT+bxJ0bAyo4PZn0qsTz6S2NhzNN/mgrUU1FpR0s1FNWtjN93a+OTY0T0aNFWcbuzd0rpLu0u/YyMYoPQ8PNj0t3wufQbKioepW35Co0ru4/ReZ9PP6iOeAIJPDuejOjfAt0PIr0i4VG4ZMdPJVGi74Gy6dR/Ne/iVlhxawu6609OA9DyjjDAGW/Ivbdm4pRzF4V7OKsmnK79rgqc1Z9zx3Nafr/NjzFseU1Ogm0r2W7s8Ld44GdRBO7tG3/irR4Vk+bfuU061o3aV2u2Li0nFJ+K6W7Ttd+eoitHu/LdrxPt/Uoxt4pNK2/7Bvp6482URbHzQhs0RCJxESRTU0EtA2xptOmPpU22bRp3ZR3dugM7VH4fanNeat8/+j127v12PFhF2T9z1qNXuV1qsNeZlnPtf879DqUPlbPuebVodra228z2aUr4MqUE3a2NiJlpplht4MOBzo3xyXz6FbP5/2HT/AA94u0X7jOfzqKnRaaWuT2qFKySvpkXToW0LIRMssttsMNApSve4nrlpYoUUrslbu3cmLvwyhDb5j6cDFHc5SewURlel5kkoZLJIFxHKVm0f/wCe5tOiWKJkUP0XmChTuM7DYIa0RauRLOBJ1EC+bRPURUqbEKg+BrXcvNLV2Sso2SWNcDJ+hzWiK2jRVtgoU+B1R/5Xervq3jF77Gx6fHOl7aZ29f6FtWiJLyEVIF8o4AhTXp7XWPJDlK4p40e1ZWWtGk1Z2aa4YHwx9T7sDGLeVw37Iey0Ssandi304vaWU7NY0Hy7VxJpr/1d17O5JNvS97JJXzZLb0HE3hc05Xb1/rC/gW6PBXCOAK2B7TZ9ourpdyc0tH47JKMbu0e1Lmx5sonrWXcr9ttLyTaXdjust1r7EFeKX3qaY1ll+oqgtRGSQBbSPRovtT5F31MbNURMaZRqPQsoV3F3t6+ZBCLK6cCactez0k1LK+XBZKObnj9KmsrB6tHqeUYZR14Xc6ZGnfLDcbAQrR5x6MZ8WPP8kNOOpoNTXsKlWxhfMS3cNDehVKl/Q6MQYxssm9w0i79ggJBQyhGckKkjadQ15AwGwickG0BGQOlIBMESttkxLGtASiNNAogKOR1wEhkGQyISRqiI2XfrrrnXVhLSWP02uvVZZqRnas6affuBkylnCSymrLj6eRPUhplu22yKd7IXOLTs8DibCe0CUEWVqHbbIFWh4e6/sOUril0EVFcuj0zautBEqZUqLEdSBL+J033yb7rvL7vzO6Tzb1L6sducEfXYlKySzs21jhvXQ0x+WWc48qpgnbKq6JnE0LBTBjkJQ2AM6fBZLYwRLSLaTRnk0xPpQsVU0xdKRQlYytdGMDGI4WEpEqbLg5rICyzpSADR3aZBjIoDBJm05ZsdIZXpONtBAqSs2HAdWce1cmU5RUbWz97hs9BOY2jBNZFpXEei2aawbjSJM5oFmxANsDbJruGosDYpGdwfYZCF3a4hpkE3hBQai8nSbi9RU273AfDqsbO6wtgJybd2EpLR6emdwWvvXUZUuWRTQ2QLKTXRm7WvgOjV7b4vcWka1i70wnz7LcAzpqLb7tLaOyavxnyPO6inZtcY+g+rN3xjFsY9/U3pey771/Nv2LnOs7q8eN1MMEDpnpdVa7te18XIZG0Yb1RwiNoxOTgliLbcUrt6SvdtJbWVrMrh1GbqEF4lKyjpZWtn9PkFo1P0NOGSqGwym728Mcd36f8AJb2424GOCWO3ZLD3vlu/K2Rna0xxbTeCmLyIjDPhfdlpL9VktXHVKw2m9zOtYofBvaYmNUSWhMYgrnj+RrRyVgLQjmYpDYuPb5iNtRQsre4GtsgIZFgbWgYsJ6nWEBphU522BRsYiUD4bd2KcSiVW2EJq0mkrocKxkWkdKp5AxCaGlsZ5GqYmIwRw3D1Aq0UtGaoK175BixKLlDkBse5pi3EpNImzqcmvS97PTHKOqLJqQ0gclw9Ho99vYO6tvtx7i3Hc1oANSWy3eucbYJ+ovq28Y9gwKk2OFfhFJnduPUZOGb2AqyNGRcerjCEk4Xb00tpaz+9zw5I9DqndYwHT/Ge1KPa8Yxaxc58M975akp7D+nWRMVny2YdGo74KqI9SlK22WNl+5JCRTGoZWN5XPFuf9FVCSlrZPGdFZLey10yRyd2HTjkVhy9ejFrAxTEU5XWdVu7tvRJBQqGbbbZs1u4EmFGOgEKlFXV3g2q1fw6G0YdzyC42bWubCP6amHABOwV8ABGdwDmZcNHs6DOlO7J5zNpSDQ2akPabWcgRRvxmlYRzgWd3GRiEkAajOxXWdTZ6Awg3psBsqwswfNGzfIDwCWtGx8wVIKWRgNSIpRKqbw0xM1YILCZICKNnJiak/IqRFrpyOaRNVrPSx0JXWeStI9N6jC/o8+pV4PWUU9iWtTsvP0KxqM48vqG2SW8yrqo2Je3k2jKPQp9ih4rynxoovzDp9bJYjaPol9TyqcmXUVe3JNn6dtnw9Ppuvk14kpeqKYuElaPhlx/TPIpuz4yxsarWSLj+Lmf6uvz6WGQFVrSiqm68MvoxVOq9ydK3pcqzTxh8jHJYfKuldPyy/UipvN2Y6nhdrXT0tlp8y4VljzF5V6Vd45VDz6cmNi3yFxOZLoLuaQdSPbj3JYTdx8qUmu5/wCyKuMUt2c57C5TQNvMZbMbCg8XFoOs/DYQBJjaWhLFlKlYdEOjIbCskndE6kF1U447SdL2F1RaqPkVUe4tTKkRasdUZTk9Y38yD4hV0VSeVH9+fIVhy9NTMqu6F9wdhGGnIJ1dkRd4cKhWk+lcZWZvUy3I5Vkjoz7kLR+voLmLlIzuWgqoy5GdoKk9bGKLKEuBMqer8ytpsNpxsln+hPUVf0/fsFFeF2Ss37EFaptYJOpyy1C66e2SVqwyVXPoTTqZNoy1sER9Ko07k0BsJAvKPYotST5/dAyg0s/MkpVbNNMoh1LvZ/NEaLcV0HifDg37rQmoyLaU06cpcR7P/p/9CaNBa3sTtVnwKLCot2ml3Wsm7PGJK3ct1n5jo9PjVC309lK9m8Wve6ysx59xbitUFGox6zqLhTS1f0RtSuksBTnJ0+nh3KV1OLJ4PHVa6DpVbCuJzN6nUUnBK5M5CK3Ut5bf3wb1tWCt2O/Ob+n1FIdyimEshVtieipLtbWH/Q+pGTXcliwvs5eFSlZlArp+m703fTBR0vUpK9r3QUY/6bRnFRd9f9EcpXZveT152fkEh5ZcMnKwM5rkmqTbYmtNouYsrmqlPzGdL1U07R39zz1WLOgm1LuWwWcGOXXod+z1/c6U2jKtS+RU6hnptanlU1AlUsmxNSoIqVTWRhclXxcDunne55sZY1KujnkLCxy6OWrQydLH1JZ1fE/U1V72w/mGqe4toxUTayWr9dyeNfReYHV1ru3H8k66r1NFVKniWysT1k8i+or7binVutTWRjaXJCu1BzkKKOQHeGpZJo1r6hxktb/sDW4q4zDoyk2ktSeEorVt+g6fW2VoRst3q37hUeVlWvj4a0Tu/NmwqvS9vQ82FUoVYWkWWPYj1DtZBdRUaha78TvZrZYupfP5EfTVU2k2lfF27JXxl7HdXVUtMLRK7dvd7Xu/cjz1XrjYSwZLO/8AsRTqf0HBvJWkbNtgLu4FJ30Om3jgR7NrTx5ipI6crJP7wYpDgtWUa0n2pyuk1x6FtfqJKPbdWd9s66XPLc7FHUT8F/vJFjSZcrVUssNq+ozpKy0uec65vxGh+UzN60vICYvpuob097j2yPhrvaSVJrKySVlK+jPS+giqypWeWKSNDd4LqeETS1KIQY6MVz6q8FG3GfQi6qrtv9Dn1SptN58uSKv1PxJuSi/bLxu7E44qyz4GvUFC5yuzGa6YCU7PyPR6Kas2lx9Ty0WxqOFO/P10/gWUVj8lTrO7fmzPiZTJlM5zHourPi6Phm1aqlbNiCMzHMNH0VVpvAqUlyDUnuBe41zFrmBUunZ4/YbKlKKU7Y24wBX/ABFt6L5XBpjPx5/cw6M8+phxLos4ricpZOOKYaGrcBp+pxwJ0slP4acYyvKS8TUk4OElGSjp+ZNZz5E3e+TTgkTkz4jQ6E3rf+TTgRZw+Fay/o2VZWWTThaSRKd9xSqM44YkUfH5KI9QnDt/k44Vg+EUZ21Hd/Dv+5hww34zTunkrpfiOnd7mnCslOWxz6yORNTqL2t97f2ccLzBbS5VktwpdfjHzZxw9Q0k6t3l3Keg/EPht2V723tpf+zjh2S8E50qn08590kr2eds64FU5Kxpwpd2w7jxsXd2+/8AQzrKuFF/f39Djg+y0khU2Mk7aHHDVroJTBUzjhrkKqyOhTdnL78zjhKt1DKnVycFDZY87EcTjhNMZp//2Q==");
	font-family: 'Open Sans', sans-serif; 
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	margin: 0;
	background-size: cover;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 650px;
	max-width: 100%;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
	align-items: center;
	justify-content: center;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 60%;
	float: right;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: green;
	border: 2px solid green;
	border-radius: 4px;
	color: white;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}


.form button:hover{
	border: 2px solid black;
}
